.loader_bg
{
    position:fixed;
    background:rgb(18, 46, 78);
    z-index:99999;
    width: 100%;
    height:100%;

}
.loader
{
    border: 0 solid transparent;
    border-radius: 50%;
    width:150px;
    height:150px;
    position:absolute;
    top:calc(50vh - 75px);
    left:calc(50vw - 75px);
}
.loader::before,
.loader::after
{
    content:'';
    border:1em solid  rgb(100, 255, 218);;
    border-radius: 50%;
    width:inherit;
    height:inherit;
    position:absolute;
    top:0;
    left:0;
    animation: loader 2s linear infinite;
    opacity:0;
}
.loader::before
{
    animation-delay:.5s;
}
@keyframes loader
{
    0%
    {
        transform:scale(0);
        opacity:0;
    }
    50%
    {
        opacity:1;
    }
    100%
    {
        transform:scale(1);
        opacity:0;
    }
}



*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body
{
    /* font-family:consolas; */
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    background: rgb(10, 25, 47);
}
.logo
{
    position: absolute;
    margin:0 25px;
    padding:25px;
    margin-right: auto;
    background-image:url(img/logo2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
nav
{
    height: 10vh;
}
.nav-links
{
    display: flex;
    list-style:none;
    width: 65%;
    justify-content: space-around;
    align-items: center;
    margin-left:auto;
    margin-top:20px;
}
.nav-links li
{
    color:rgb(100, 255, 218);
    margin:10px;
}
.nav-links li a
{
    color: rgb(165, 165, 187);
    text-decoration: none;
    font-size: 16px;
}
#github 
{
    padding: 12px 22px 12px 22px;
    background:rgb(10, 25, 47);
    border:1px solid rgb(100, 255, 218);
    border-radius: 4px;;
    color:rgb(100, 255, 218);
    /* letter-spacing: 2px; */
    font-weight:50;
    text-decoration:none;
}

#github:hover
{
    background:rgb(7, 29, 70);
}
.landing
{
    position:relative;
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-links li a:hover
{
    color:rgb(100, 255, 218);
}
#intro
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size:18px;
    color: rgb(100, 255, 218);
}
#name1
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    font-size:4.2em;
    color: rgb(204, 214, 246);
    transition: .3s linear;
}
#name2
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    font-size:2.8em;
    color: rgb(136, 146, 176);
    transition: .3s linear;
}
#trailor
{
    font-size:25px;
    color: rgb(136, 146, 176);
}

@media screen and (max-width: 768px)
{
    .nav-links
    {
        position:fixed;
        height:100vh;
        width:100%;
        background-color:rgb(23, 42, 69);
        top:0;
        right:0;
        max-width:300px;
        padding:80px 50px;
        transition: .3s linear;
        z-index:1;
        display: block;
        margin-top:0;
    }
    #github
    {
        margin-left: 20px;
        padding: 12px 40px 12px 40px; 
        background:rgb(23, 42, 69);
    }
    .nav-links.active
    {
        right:-100%;
    }
    nav
    {
        position: relative;
    }
    .logo
    {
        margin-top:20px;
    }
    .hamburger
    {
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        margin-top:15px;
        transform: translate(-5%,-50%);
        z-index:2;
    }
    .line
    {
        position: relative;
        width:30px;
        height:2px;
        background: rgb(100, 255, 218);
        margin: 5px;
        transition: .3s linear;
        
    }
    .line:nth-child(2)
    {
        width:20px;
    }
  
    .landing
    {
        flex-direction: column;
    }
    .nav-links li
    {
        display:list-item;
        color:rgb(100, 255, 218);   
        margin:50px 0;   
    }
    .nav-links li a
    {
        /* position:absolute; */
        text-decoration-skip-ink: auto;
        color: inherit; 
        cursor: pointer;
        font-size:20px;
        text-decoration: none;
        color:rgb(204, 214, 246);
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        padding: 3px 20px 20px;
        margin:20px 0;
    }
    .nav-links li a:hover
    {
        color:rgb(100, 255, 218);
    }
    .nav-links li:nth-child(1)
    {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2)
    {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3)
    {
        transition: all 0.5s ease 0.6s;
    }
    li.fade
    {
        opacity: 1;
    }
    .hamburger
    {
        display: block;
    }
    .hamburger.active .line
    {
        background:rgb(100, 255, 218);
    }
    .hamburger.active .line:nth-child(1)
    {
        transform:rotate(-45deg) ;
        top: 4px;
    }
    .hamburger.active .line:nth-child(2)
    {
        opacity:0;
    }
    .hamburger.active .line:nth-child(3)
    {
        transform:rotate(45deg) ;
        bottom:12px;
    }
    
    #name1
    {
        margin-left:50px;
        font-size:2.5em;
    }
    #name2
    {
        margin-left:50px;
        font-size:1.7em;
    }
    #about
    {
        padding: 100px 0px;
        margin:200px 50px;
    }
}
@media screen and (max-width: 510px)
{
    #intro
    {
        display:inline-block;
        margin-top: 100px;
        font-size:18px;
        margin-left: 52px;
        color: rgb(100, 255, 218);
    }
    #name1
    {
        font-size:3.5em;
    }
    #name2
    {
        font-size:2.5em;
    }
}    
/* nav #marker
{
    position: absolute;
    top: 45px;
    left:0;
    height: 4px;
    left:0;
    width: 0;
    background: rgb(100, 255, 218);
    border:-8px;
    transition: 0.5s;
    border-radius: 4px;
} */
.insertion
{
    position:relative;
    margin:90px;
    padding:130px;
    display:flex;
    margin-top: 180px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-image:url(img/shreya.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s linear;
    border:1px solid rgb(100, 255, 218);
    border-radius: 4px;
}
.color
{
    height:261px;
    width:100%;
    position:absolute;
    background-color:rgb(100, 255, 218);
    border-radius:5px;
    opacity:0.5;
    filter:alpha(opacity=50);
}
.about h3
{
    margin-top:0;
    margin-bottom:0;
    width:380px;
    z-index:999;
}
.type
{
    color:rgb(100, 255, 218);
}
.foot
{
    color: rgb(100, 255, 218);
    margin-top:100px;
}
.foot .sci
{
    font-size:25px;
    justify-content: center;
    align-items:center;
    margin:0;
    padding:0;
    text-align: center;
}
.foot .sci li
{
    display:inline-block;
    width:40px;
    height:20px;
    margin-top:10px;
    margin-bottom:20px;
}
.foot .sci li a
{
    color:rgb(193, 195, 207);
    display:block;
}
.foot .sci li a:hover
{
    color:rgb(100, 255, 218);
}
.foot .sci li a i
{
    line-height:40px;
}
.foot .copyright
{
    width:100%;
    height:auto;
    margin:auto;
    text-align: center;
} 
#touch
{
    margin-top:30px;
    margin-bottom:30px;
    position: absolute;
    left:90px;
    padding:20px 40px 20px 40px;
    letter-spacing: 1px;
    background:rgb(10, 25, 47);
    border:1px solid rgb(100, 255, 218);
    border-radius: 3px;;
    font-weight:200;
    color:rgb(100, 255, 218);
} 
#touch:hover
{
    background:rgb(8, 8, 48);
}  
.cJDQMh {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.krfQUW
{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: rgb(168, 178, 209);
}
.juoHJq {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.juoHJq::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(168, 178, 209);
    margin: 0px auto;
}
.jxlTta {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-decoration:none;
    color:rgb(193, 195, 207);
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    margin: 20px auto;
    padding: 10px;
}
.jxlTta:hover
{
    color:rgb(100, 255, 218);
}


.dxVzdv {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: rgb(168, 178, 209);
}
.cJDQMh {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.jZDtYm {
    padding: 10px;
}
.sci::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(168, 178, 209);
    margin: 0px auto;
}

#about {
    max-width: 1000px;
    position: relative;
    margin: 0px auto;
    padding: 150px 0px;
    margin-top: 200px;
    margin-bottom: 200px;
    transition: .5s linear;
    margin-left: 170px;
    margin-right: 70px;
}
.fjaqlf {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    color:rgb(195, 194, 212);
    white-space: nowrap;
    font-size: 32px;
    margin: 10px 0px 40px;
}
.fjaqlf::before {
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    color: rgb(100, 255, 218);
    font-size: 20px;
    position: relative;
    bottom: -2px;
}
.fjaqlf::after {
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: rgb(76, 91, 124);
    position: relative;
    top: 2px;
    margin-left: 20px;
}
.juaSXI {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: flex-start;
}
p {
    margin: 0px 0px 15px;
    color: rgb(142, 159, 196);
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size:17px;
}
.juaSXI p a
{
    color:rgb(100, 255, 218);
    text-decoration: none;
}
.juaSXI div {
    display: block;
    width:500px;
}
.dbgkCk {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    overflow: hidden;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}
.ibWQpd {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 13px;
    color: rgb(136, 146, 176);
}
.ibWQpd::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: rgb(100, 255, 218);
    font-size: 14px;
    line-height: 12px;
}
@media (max-width: 600px)
{
    #about
    {
        padding: 100px 0px;
        margin:250px 40px 200px 70px;
    }
} 
 


.ibciKe {
    text-align: center;
    max-width: 600px;
    padding: 150px 0px;
    margin: 0px auto 100px;
}
.iHhMUs {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    display: block;
    color: rgb(240, 230, 232);
    font-size: 16px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 10px 0px 20px;
}
.iHhMUs::before {
    bottom: 0px;
    font-size: 14px;
}
.iHhMUs::before {
    counter-increment: section 1;
    content: "04." ;
    margin-right: 10px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    color: rgb(100, 255, 218);
    position: relative;
}
.ljvGcV {
    font-size: 60px;
    margin: 0px 0px 20px;
    font-weight: 600;
    color: rgb(204, 214, 246);
    transition: .3s linear;
}
.ibciKe div
{
    width:auto;
    height:200px;
    margin-left:25%;
    margin-right:25%;
}
p 
{
    margin: 0px 0px 15px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    
}
@media screen and (max-width: 600px)
{
    .ibciKe div
    {
        width:auto;
        height:200px;
        margin:30px ; 
        margin-bottom:0;
    }
    .ljvGcV
    {
        font-size:40px;
    }

}
.ibciKe a {
    display: inline-block;
    text-decoration-skip-ink: auto;
    position: relative;
    cursor: pointer;
    color: rgb(100, 255, 218);
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    border:1px solid rgb(100, 255, 218);
    border-radius: 4px;;
    padding:15px 25px 15px 25px;
    margin-top:50px;
    margin-bottom:20px;
    font-weight:200;
    letter-spacing: 1px;;
}
.ibciKe a:hover
{
    background:rgb(83, 82, 107);
}

.kgzMRz 
{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(4, 15, 32);
    color: rgb(136, 146, 176);
    text-align: center;
    height: auto;
    min-height: 70px;
    padding: 15px;
    margin-top:40px;
}
.fmPJnJ 
{
    color: rgb(136, 146, 176);
    padding: 10px;
    text-decoration: none;
}
.fmPJnJ:hover
{
    color:rgb(100, 255, 218);
}
.eNOkCN
{
    display:none;
}

@media screen and (max-width: 600px)
{
    .krfQUW
    {
        display:none;
    }
    .dxVzdv
    {
        display:none;
    }
    .eNOkCN {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }
    .eNOkCN li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    .eNOkCN li a
    {
        text-decoration: none;
    }
    .eNOkCN li a i
    {
        color:rgb(220, 223, 228);
        font-size:20px;
    }
    .eNOkCN li a i:hover
    {
        color:rgb(100, 255, 218);
    }
    

}
/* Open Source Projects Section */

.hXEqdP {
    max-width: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    height:auto;
    margin: 0px auto;
    margin-top:100px;
    padding: 150px 0px;
    margin-bottom:300px;
}
.jUYiNF {
    font-size: 32px;
    margin: 0px auto;
    font-weight: 600;
    color: rgb(204, 214, 246);
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    /* margin-inline-start: 0px;
    margin-inline-end: 0px; */
    box-sizing: inherit;
}
.pack
{
   margin-top:50px;
   /* width:1000px; */
   /* height:344px;  */
}
.pack .cards 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    position: relative;
    gap: 15px;
    
}    
.division
{
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    background-color: rgb(23, 42, 69);
    padding: 2rem 1.75rem;
    border-radius: 3px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    
}
.division:hover , .division:focus  
{
    transform: translateY(-5px);
}
.gkqTTn {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 30px;
    width:272px;
    height:40px;
}
.gIbvrW:hover, .gIbvrW:focus {
    box-shadow: rgba(2, 12, 27, 0.7) 0px 20px 30px -15px;
}
.cVJOKU {
    font-size: 22px;
    color: rgb(204, 214, 246);
    margin: 0px 0px 10px;
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.dGFYAG {
    font-size: 17px;
    color: rgb(168, 178, 209);
}
.dGFYAG p 
{
    font-size: 17px;
    margin: 0px 0px 15px;
}
footer
{
    display:block;
}
.kKWBdx {
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}
.kKWBdx li {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 12px;
    color: rgb(136, 146, 176);
    line-height: 1.75;
    margin-right: 15px;
}
.gkqTTn {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 30px;
}
.kwInvm {
    color: rgb(100, 255, 218);
}

.hUTEah 
{
    position: relative;
    top: -10px;
    padding: 10px;
}
.hUTEah i 
{
    width: 20px;
    height: 20px;
    fill: currentcolor;
    vertical-align: middle;
}
.hUTEah i:hover
{
    color:rgb(100, 255, 218);
}
@media screen and (max-width:1200px)
{
   .cards
   {
       margin-left:50px;
       margin-right:50px;
   }
    
}
/